services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: marto
      POSTGRES_PASSWORD: projects
      POSTGRES_DB: employee_shift_manager
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
